div {
    border: 1px solid;
    text-align: center;
}

p.line {
    width: 50%;
    margin: auto;
    padding: 10px 0;
    text-decoration: underline;
}

p.line#roses {
    background-color: red;
}

p.line#violets {
    background-color: violet
}

p.line#sugar {
    background-color: beige;
}